[submodule "Ariazel/vendor/spdlog"]
	path = Ariazel/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Ariazel/vendor/GLFW"]
	path = Ariazel/vendor/GLFW
	url = https://github.com/TheCherno/glfw
